@tailwind base;
@tailwind components;
@tailwind utilities;

.inp {
    @apply rounded-md bg-slate-100 outline-0 py-2 px-4 mb-4 ml-1 mt-1 focus:outline-8 focus:outline-offset-2 focus:outline-emerald-700 
}

.shipping_inp {
    @apply mb-0 !important;
}

.inp_profile {
    @apply w-4/5 ml-6 mt-2 outline-1 outline-offset-2 outline-slate-500 py-1 pr-4 bg-emerald-100 border-r-[4px] border-emerald-700 text-slate-800 rounded-sm focus:outline-emerald-700 focus:rounded-md
}

.btn {
    @apply text-slate-50 px-[7px] py-[10px] mt-5 mb-4 bg-gradient-to-r from-emerald-700 to-emerald-500 rounded-lg active:scale-75
}

.order-card {
    @apply py-3 px-5 my-5 text-center sm:mx-5 shadow-card rounded-xl text-lg font-semibold text-slate-600 max-w-[200px] min-w-[150px] mx-auto
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    direction: rtl;
}

.cp {
    position: relative;
}

.cp::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e3e3e383;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 84%, 100% 22%, 100% 100%, 0% 100%);
    z-index: -1;
}

.image-gallery-thumbnail {
    width: 75px !important;
}

@media (max-width: 768px) {
    .image-gallery-thumbnail {
        width: 60px !important;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    background-color: #fff;
    list-style: none;
    border: 1px solid rgba(51, 51, 51, 0.312);
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.page-item:first-child {
    border-radius: 5px 0 0 5px;
}

.page-item:last-child {
    border-radius: 0 5px 5px 0;
}

.page-link {
    text-decoration: none;
    font: 600 16px "Roboto";
    color: rgb(82, 82, 82);
    transition: all 0.3s;
}

@media (max-width: 500px) {
    .page-item {
        padding: 4px 10px;
    }
    .page-link {
        font-size: 14px;
    }
}

.page-item:hover {
    background-color: rgb(232, 232, 232)
}

.page-item:hover .page-link {
    color: rgb(81, 81, 81)
}

.pageItemActive {
    background-color: rgb(255, 136, 0);
}

.pageLinkActive {
    color: #f6f6f6;
}

.inp_file {
    outline-offset: 3px;
    border: 0;
}

input.inp_file::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 40px;
    border: 1px solid #ddd;
}

input.inp_file::file-selector-button:hover {
    background-color: #ddd
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ggl_btn {
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 8px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    box-shadow: 0 1px 10px -1px #ccc !important;
}

.MuiStepConnector-line {
    display: none !important;
}

.MuiStepConnector-root {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.364)
}

.MuiStepConnector-active, 
.MuiStepConnector-completed {
    background-color: #088f7e
}

.MuiDataGrid-columnHeaders div {
    background: #088f7e;
    color: #f6f6f6;
    font-weight: bold !important
}

.MuiDataGrid-cell a:hover {
    color: #89dad8;
}

/* .swiper-wrapper {
    align-items: center;
    padding: 10px 0;
    height: 300px !important;
} */

.swiper-slide {
    height: 100%;
}

.swiper-button-next {
    direction: ltr !important;
    right: 0px !important;
    width: 50px !important;
    height: 50px !important;
    padding: 4px !important;
    border-radius: 50% !important;
    background-color: #7baa9ce6 !important;
    transform: translate(0, -50%);
}

.swiper-button-prev {
    left: 0px !important;
    width: 50px !important;
    height: 50px !important;
    padding: 4px !important;
    border-radius: 50% !important;
    background-color: #7baa9ce6 !important;
    transform: translate(0, -50%);
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px !important;
}

@media (max-width: 500px) {
    .swiper-button-next {
        right: 1px !important;
        width: 40px !important;
        height: 40px !important;
    }
    .swiper-button-prev {
        left: 1px !important;
        width: 40px !important;
        height: 40px !important;
        padding: 4px !important;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 25px !important;
    }
}
